<%-include('../cabecalho.ejs')%>
<h1>Editar Filme</h1>
<div>
<a href="/filme/lst">Listar</a>
</div>
<div>
    <form  method="post">
       

        <label>Título:</label>
        <input type="text" name="titulo" 
        value="<%=titulo.nome%>"><br>
          <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
          <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
          <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
          <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
          <label>Gênero:</label>
        <input type="text" name="genero" 
        value="<%=genero.nome%>"><br>
        
        <button type="submit">Salvar Alterações</button>
        
    </form>
</div>

<%-include('../rodape.ejs')%>